body {
    background-image: url("../public/background.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    color: white;
}

.upper-row,
.lower-row {
    max-width: 1007px;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.year-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
    border: 1px solid white;
    width: 30%;
}

.arrow {
    border: none;
    background: none;
    color: white;
}

.date-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid white;
    flex-wrap: wrap;
    width: 30%;
}

.date-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
}

.month-grid,
.day-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: 18px;
    flex-wrap: wrap;
    width: 70%;
}

.month-column,
.day-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
}

.month-column:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.text-red {
    color: #e96565;
}

.text-yellow {
    color: #dbd092;
}

.text-purple {
    color: #7634a5;
}

.text-green {
    color: #279792;
}

.active {
    background-color: aqua;
    color: black;
}

@media screen and (max-width: 480px) {
    .container {
        margin-top: 30px;
    }

    .year-grid {
        font-size: 24px;
        height: 100px;
        width: 100%;
    }

    .date-grid,
    .month-grid,
    .day-grid {
        width: 100%;
        font-size: 14px;
        padding: 5px;
    }

    .date-grid {
        flex-wrap: nowrap;
    }

    .date-column {
        margin: 0 auto;
    }

    .date-column,
    .day-column,
    .month-column {
        width: 48px;
        height: 35px;
        font-size: 12px;
    }
}