body {
    background-image: url("../public/background.jpg");
    background-size: cover;
}

.container {
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    color: white;
}

.upper-row {
    width: 1000px;
    margin:0 auto;
    background-color: rgb(0, 0, 0, 0.5);
    clear:both;
}

.lower-row {
    width: 1000px;
    margin:0 auto;
    background-color: rgb(0, 0, 0, 0.5);
    clear:both;
}

.year-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
    border: 1px solid white;
    height: 150px;
    width: 30%;
    margin: 0 auto;
}

.arrow {
    border: none;
    background: none;
    color: white;
}

.date-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid white;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 30%;
    height: 350px;
}

.date-column {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 59px;
    height: 50px;
}

.month-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
    border: 1px solid white;
    flex-wrap: wrap;
    width: 70%;
    height: 150px;
}

.month-column {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 99px;
    height: 50px;
}

.month-column:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.day-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
    border: 1px solid white;
    width: 70%;
    flex-wrap: wrap;
    height: 350px;
}

.day-column {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 99px;
    height: 50px;
}

.text-red {
    color: #e96565;
}

.text-yellow {
    color: #dbd092;
}

.text-purple {
    color: #7634a5;
}

.text-green {
    color: #279792;
}

.active {
    background-color: aqua;
    color: black;
}

.open-popup {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.schedule-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.schedule-popup ul li {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.schedule-popup ul li span {
    display: block;
    font-size: 17px;
}

.schedule-popup ul li .delete-icon {
    color: red;
    cursor: pointer;
    margin-top: 4px;
}

.schedule-popup .add-schedule {
    background-color: #6dcf7b;
    border-color: #6dcf7b;
    font-weight: bold;
    border-radius: 0;
    color: white;
    width: 100%;
}

.schedule-popup .add-schedule span {
    font-size: 18px;
    margin: 5px;
}

.schedule-popup {
    width: 218px;
}

.save-icon {
    color: #6dcf7b;
    text-align: center;
    margin-top: 13px;
    cursor: pointer;
}

.has-events .dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: black;
}

.selected-month {
    background-color: grey;
    color: white;
}