.full-year-calendar-container {
    text-align: center;
    font-weight: bold;
    margin: 5% auto;
    color: black;
    max-width: 90%;
}

.full-year-calendar-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.full-year-calendar-upper-row,
.full-year-calendar-lower-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.full-year-calendar-year-grid,
.full-year-calendar-month-grid,
.full-year-calendar-date-grid,
.full-year-calendar-day-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1vw solid black;
    font-size: 1.3vw;
    flex-wrap: wrap;
}

.full-year-calendar-year-grid {
    font-size: 3vw;
}

.full-year-calendar-month-grid,
.full-year-calendar-day-grid {
    width: 70%;
}

.full-year-calendar-date-grid,
.full-year-calendar-year-grid {
    width: 30%;
}

.full-year-calendar-date-column,
.full-year-calendar-month-column,
.full-year-calendar-day-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 6vh;
}

.full-year-calendar-month-column,
.full-year-calendar-day-column {
    width: 90px;
}

.full-year-calendar-date-column {
    width: 45px;
    cursor: pointer;
}

.full-year-calendar-month-column {
    cursor: pointer;
}

.full-year-calendar-arrow {
    border: none;
    background: none;
    color: black;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 0.5vw;
}

.full-year-calendar-left-arrow {
    margin-right: 2%;
}

.full-year-calendar-right-arrow {
    margin-left: 2%;
}

.full-year-calendar-text-red {
    color: #e96565;
}

.full-year-calendar-text-yellow {
    color: #dbd092;
}

.full-year-calendar-text-purple {
    color: #7634a5;
}

.full-year-calendar-text-green {
    color: #279792;
}

.full-year-calendar-active {
    background-color: aqua;
    color: black;
}

@media screen and (max-width: 360px) {
    .full-year-calendar-upper-row,
    .full-year-calendar-lower-row {
        flex-wrap: wrap;
    }

    .full-year-calendar-year-grid,
    .full-year-calendar-month-grid,
    .full-year-calendar-date-grid,
    .full-year-calendar-day-grid {
        border: 0.2vw solid black;
        width: 100%;
    }

    .full-year-calendar-year-grid {
        font-size: 5vw;
        height: 15vh;
    }

    .full-year-calendar-date-grid,
    .full-year-calendar-day-grid {
        flex-wrap: nowrap;
    }

    .full-year-calendar-date-column,
    .full-year-calendar-month-column,
    .full-year-calendar-day-column {
        height: 5vh;
        font-size: 2vw;
        min-width: 20px;
        width: auto;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .full-year-calendar-upper-row,
    .full-year-calendar-lower-row {
        flex-wrap: wrap;
    }

    .full-year-calendar-year-grid,
    .full-year-calendar-month-grid,
    .full-year-calendar-date-grid,
    .full-year-calendar-day-grid {
        border: 0.2vw solid black;
        width: 100%;
    }

    .full-year-calendar-year-grid {
        font-size: 5vw;
        height: 15vh;
    }

    .full-year-calendar-date-grid,
    .full-year-calendar-day-grid {
        flex-wrap: nowrap;
    }

    .full-year-calendar-date-column,
    .full-year-calendar-month-column,
    .full-year-calendar-day-column {
        height: 5vh;
        font-size: 2vw;
        min-width: 25px;
        width: auto;
    }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
    .full-year-calendar-upper-row,
    .full-year-calendar-lower-row {
        flex-wrap: wrap;
    }

    .full-year-calendar-year-grid,
    .full-year-calendar-month-grid,
    .full-year-calendar-date-grid,
    .full-year-calendar-day-grid {
        border: 0.2vw solid black;
        width: 100%;
    }

    .full-year-calendar-year-grid {
        font-size: 5vw;
        height: 15vh;
    }

    .full-year-calendar-date-grid,
    .full-year-calendar-day-grid {
        flex-wrap: nowrap;
    }

    .full-year-calendar-date-column,
    .full-year-calendar-month-column,
    .full-year-calendar-day-column {
        height: 5vh;
        font-size: 2vw;
        min-width: 40px;
        width: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {

    .full-year-calendar-month-column,
    .full-year-calendar-day-column {
        width: 30px;
    }

    .full-year-calendar-date-column {
        width: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .full-year-calendar-month-column,
    .full-year-calendar-day-column {
        width: 50px;
    }

    .full-year-calendar-date-column {
        width: 25px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .full-year-calendar-month-column,
    .full-year-calendar-day-column {
        width: 70px;
    }

    .full-year-calendar-date-column {
        width: 35px;
    }
}